<router-outlet></router-outlet>
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: center;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: grey;
    color: white;
    border-radius: 20px;
    padding-left: 660px;
  }

  .content {
    display: flex;
    margin: 30px auto 32px;
    padding: 0 16px;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    all: unset;
    border-radius: 20px;
    border: 1px solid orange;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 50px;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

</style>

<div class="toolbar" role="banner">

  <span>
    <h1>Selecione o carro:
    </h1>
  </span>

    <div class="spacer"></div>

  </div>

<div class="content" role="main">

   <h2>Modelos dos Carros </h2>
  <h3> Clique na marca para ver os modelos disponiveis</h3>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'Honda'" tabindex="0">
      <span>
        <h2> Honda </h2>
      </span>
    </button>

    <button class="card card-small" (click)="selection.value = 'Jeep'" tabindex="0">
      <span>
        <h2> Jeep </h2>
      </span>
    </button>
  </div>

  <div class="Honda" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>
        <h1> Civic - vermelho </h1>
      </pre>
      <pre *ngSwitchCase="'Jeep'">
        <h1> Commander - azul </h1>
      </pre>
       </div>
</div>
